main {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto auto;
  gap: 5px;
  padding: 10px;

  h2 {
    margin-bottom: 25px;
  }

  section {
    background-color: var(--primary-color);
    border: 2px solid black;
    padding: 20px;
  }
}

#title {
  grid-column: 1 / 4;
  grid-row: 1 / 2;
  text-align: center;

  h2 {
    font-size: 5em;
  }
}

#projects {
  grid-column: 1 / 2;
  grid-row: 2 / 4;
}

#top-projects {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;

  a {
    background-color: var(--secondary-color);
    text-decoration: none;
    padding: 10px;
    transition: all 0.3s;

    h3 {
      color: var(--primary-color);
    }

    &:hover {
      background-color: var(--accent-color);
      transform: scale(1.05);
    }
  }
}

#upcoming-projects {
  border: 2px solid var(--secondary-color);
  padding: 10px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;

  h3 {
    margin-bottom: 10px;
  }

  a {
    display: block;
    background-color: var(--secondary-color);
    text-decoration: none;
    padding: 10px;
    transition: all 0.3s;

    h4 {
      color: var(--primary-color);
    }

    &:hover {
      background-color: var(--accent-color);
      transform: scale(1.05);
    }
  }
}

#work-experience {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

#opensource-work {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}

#education {
  grid-column: 3 / 4;
  grid-row: 2 / 4;
}

#certifications {
  grid-column: 1 / 4;
  grid-row: 4 / 5;

  div {
    h3 {
      a {
        color: var(--secondary-color);
        text-decoration: none;
      }
    }
  }
}

@media (max-width: 769px) {
  main {
    display: flex;
    flex-direction: column;
  }

  #title > h2 {
    font-size: clamp(2em, 12vw, 4em);
  }

  #top-projects > a:hover {
    transform: scale(1.02);
  }

  #upcoming-projects > a:hover {
    transform: scale(1.01);
  }
}
