main {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px;

  .project-category-container {
    background-color: var(--primary-color);
    border: 2px solid black;
    padding: 20px;

    h2 {
      margin-bottom: 25px;
      text-align: center;
    }

    .project-container {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      gap: 20px;

      a {
        background-color: var(--primary-color);
		color: var(--text-color-dark);
        border: 2px solid var(--secondary-color);
        padding: 20px;
        overflow-y: auto;
		text-decoration: none;
		transition: border-color 0.3s, transform 0.3s;

        h3 {
          text-align: center;
        }

		&:hover {
			border-color: var(--accent-color);
			transform: scale(1.05);
		}
      }
    }
  }
}
