* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color-light: #ffffff;
  --text-color-dark: #000000;
  --primary-color: #e5e5e5;
  --secondary-color: #14213d;
  --accent-color: #fca311;
}

body {
  font-family: Calibri;
}

body::selection {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--secondary-color);
}

li {
  list-style: inside;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin: 10px;
  margin-bottom: 0;

  #my-name {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;

    .profile-photo {
      border: 3px solid var(--secondary-color);
      border-radius: 50%;
      padding: 3px;
      transition: all 0.3s;

      &:hover {
        cursor: pointer;
        border: 3px solid var(--accent-color);
        padding: 0;
      }
    }
  }

  #navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
    font-size: 1.2em;

    .nav-link {
      color: var(--secondary-color);
      text-decoration: none;
      transition: all 0.3s;

      &:hover {
        color: var(--accent-color);
      }
    }
  }
}

footer {
  padding: 25px;
  margin: 10px;
  margin-top: 0;
  text-align: center;
}

@media (max-width: 769px) {
  #my-name {
    font-size: clamp(0.5em, 3vw, 0.8em);
  }
}

@media (max-width: 577px) {
  #my-name > h1 {
    display: none;
  }

  #navigation {
    gap: 10px;
  }
}
