* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color-light: #ffffff;
  --text-color-dark: #000000;
  --primary-color: #e5e5e5;
  --secondary-color: #14213d;
  --accent-color: #fca311;
}

body {
  font-family: Calibri;
}

body::selection {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--secondary-color);
}

li {
  list-style: inside;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin: 10px;
  margin-bottom: 0;
}

#my-name {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.profile-photo {
  border: 3px solid var(--secondary-color);
  border-radius: 50%;
  padding: 3px;
  transition: all 0.3s;
}

.profile-photo:hover {
  cursor: pointer;
  border: 3px solid var(--accent-color);
  padding: 0;
}

#navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 25px;
  font-size: 1.2em;
}

.nav-link {
  color: var(--secondary-color);
  text-decoration: none;
  transition: all 0.3s;
}

.nav-link:hover {
  color: var(--accent-color);
}

main {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto auto;
  gap: 5px;
  padding: 10px;
}

main h2 {
  margin-bottom: 25px;
}

#title {
  grid-column: 1 / 4;
  grid-row: 1 / 2;
  text-align: center;
}

#title > h2 {
  font-size: 5em;
}

#projects {
  grid-column: 1 / 2;
  grid-row: 2 / 4;
}

#top-projects {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}

#top-projects > a {
  background-color: var(--secondary-color);
  text-decoration: none;
  padding: 10px;
  transition: all 0.3s;
}

#top-projects > a > h3 {
    color: var(--primary-color);
}

#top-projects > a:hover {
  background-color: var(--accent-color);
  transform: scale(1.05);
}

#upcoming-projects {
  border: 2px solid var(--secondary-color);
  padding: 10px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}

#upcoming-projects > h3 {
    margin-bottom: 10px;
}

#upcoming-projects > a {
    display: block;
  background-color: var(--secondary-color);
  text-decoration: none;
  padding: 10px;
  transition: all 0.3s;
}

#upcoming-projects > a > h4 {
    color: var(--primary-color);
}

#upcoming-projects > a:hover {
  background-color: var(--accent-color);
  transform: scale(1.05);
}

#work-experience {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

#opensource-work {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}

#education {
  grid-column: 3 / 4;
  grid-row: 2 / 4;
}

#certifications {
  grid-column: 1 / 4;
  grid-row: 4 / 5;
}

#certifications > div > h3 > a {
  color: var(--secondary-color);
  text-decoration: none;
}

main > section {
  background-color: var(--primary-color);
  border: 2px solid black;
  padding: 20px;
}

footer {
  padding: 25px;
  margin: 10px;
  margin-top: 0;
  text-align: center;
}

@media (max-width: 769px) {
  #my-name {
    font-size: clamp(0.5em, 3vw, 0.8em);
  }

  main {
    display: flex;
    flex-direction: column;
  }

  #title > h2 {
    font-size: clamp(2em, 12vw, 4em);
  }

  #top-projects > a:hover {
    transform: scale(1.02);
  }

  #upcoming-projects > a:hover {
    transform: scale(1.01);
  }
}

@media (max-width: 577px) {
  #my-name > h1 {
    display: none;
  }

  #navigation {
    gap: 10px;
  }
}